ion-content{
  --background:var(--ion-color-dark) url('../../assets/gameBackground.jpg') no-repeat center center/cover;
}
h2{
  color: #ffff;
  font-size: 4000%;
}


.main_div{
text-align: center;
margin-top: 50%;
transform:translateY(30%);
font-weight:bold;
font-size: 2.5%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
.o{
  margin-left: 2%;
  margin-right:2%;
}
.otp{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
}

ion-content{

  ion-button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-transform: none;
  }
  }

ion-toolbar{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-transform: none;

}
